nav {
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.logoImg{
    background-color: #db0e0e; /* White background for the logo area */
    border-radius: 0.5rem;  /* Optional: rounded corners */
    overflow: hidden;       /* Ensures image stays within the area */
}

